body {
  background: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
}


.btn-primary {
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #0056b3;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
